.letter-s1 {
  position: absolute;
  height: 4.3%;
  width: 11.6%;
  top: 16.7%;
  left: 8.68%;
  line-height: 40px;
  display: inline-block;
  white-space: pre-wrap;
}
.menu-item-label8 {
  width: 69px;
  position: relative;
  line-height: 20px;
  display: none;
}
.dropdown-option-item8 {
  position: absolute;
  height: 92.31%;
  width: 100%;
  top: 7.69%;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs) var(--padding-base);
  box-sizing: border-box;
}
.vector-icon15 {
  position: absolute;
  height: 100%;
  width: 24.36%;
  top: 0;
  right: 20%;
  bottom: 0;
  left: 55.64%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.dropdown-option-item-parent3,
.group-child30 {
  position: absolute;
  height: 5.34%;
  width: 12.65%;
  top: 0;
  right: 6.09%;
  bottom: 94.66%;
  left: 81.25%;
}
.group-child30 {
  height: 90.33%;
  width: 99.79%;
  top: 9.67%;
  right: 0.21%;
  bottom: 0;
  left: 0;
  border-radius: var(--br-mini);
  background: linear-gradient(180deg, #fff, #afadad);
  transform: rotate(-0.1deg);
  transform-origin: 0 0;
}
.letter-s-1 {
  position: absolute;
  top: 272px;
  left: 415px;
  width: 320px;
  height: 257px;
  object-fit: cover;
  cursor: pointer;
}
.page-0111 {
  margin: 0;
}
.page-0110 {
  position: absolute;
  height: 4.88%;
  width: 15.02%;
  top: 13.26%;
  left: 82.85%;
  line-height: 40px;
  display: inline-block;
}
.group-icon5 {
  position: absolute;
  height: 5.75%;
  width: 3.46%;
  top: 0;
  right: 12.44%;
  bottom: 94.25%;
  left: 84.1%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.rectangle-parent7 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  color: var(--color-darkgray-200);
  font-family: var(--font-poppins);
}
.group-child31,
.vector-icon16 {
  position: absolute;
  height: 5.21%;
  width: 3.4%;
  top: 0;
  right: 0;
  bottom: 94.79%;
  left: 96.6%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group-child31 {
  width: 2.69%;
  right: 4.67%;
  left: 92.65%;
  cursor: pointer;
}
.group-parent7 {
  position: absolute;
  height: 71.29%;
  width: 84.24%;
  top: 15.14%;
  right: 7.08%;
  bottom: 13.57%;
  left: 8.68%;
  font-family: var(--font-fira-sans);
}
.label16 {
  position: relative;
  line-height: 20px;
}
.spacer14 {
  align-self: stretch;
  flex: 1;
  position: relative;
}
.optional7 {
  position: relative;
  font-size: var(--extra-bold-10-size);
  line-height: 16px;
  color: var(--gray-200);
}
.label15 {
  width: 240px;
  display: none;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.icon15,
.text7 {
  position: relative;
}
.icon15 {
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.text7 {
  line-height: 20px;
}
.left16 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.spacer15 {
  align-self: stretch;
  flex: 1;
}
.icon16 {
  width: 24px;
  position: relative;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.content9 {
  align-self: stretch;
  box-shadow: var(--shadows-gray-1-level);
  border-radius: var(--br-5xs);
  background-color: var(--white);
  border: 1px solid var(--color-gainsboro-100);
  box-sizing: border-box;
  height: 49px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0 var(--padding-base);
  color: var(--color-darkgray-100);
}
.helper-text7 {
  width: 57px;
  position: relative;
  font-size: var(--extra-bold-10-size);
  line-height: 16px;
  display: none;
  color: var(--gray-200);
}
.default-input7 {
  width: 264px;
  border-radius: var(--br-5xs);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.keyboard-voice-icon7 {
  width: 24px;
  position: relative;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.left-items7 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-13xl);
}
.dashboard9,
.home9,
.ocr7,
.saved-notes7 {
  position: relative;
  line-height: 16px;
  display: inline-block;
  flex-shrink: 0;
}
.home9 {
  width: 222px;
  opacity: 0.2;
  mix-blend-mode: normal;
}
.dashboard9,
.ocr7,
.saved-notes7 {
  width: 205px;
}
.ocr7,
.saved-notes7 {
  cursor: pointer;
}
.saved-notes7 {
  width: 255px;
  white-space: pre-wrap;
}
.header7,
.menu10 {
  display: flex;
  flex-direction: row;
}
.menu10 {
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-13xl);
  font-size: var(--font-size-xl);
  color: var(--white);
}
.header7 {
  position: absolute;
  top: 14px;
  left: 188px;
  border-bottom: 1px solid var(--color-whitesmoke);
  box-sizing: border-box;
  width: 1159px;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-xl) var(--padding-13xl);
  font-size: var(--bold-12-size);
  color: var(--gray-500);
  font-family: var(--extra-bold-10);
}
.right-items7 {
  position: absolute;
  top: 21px;
  left: 1338px;
  width: 67px;
  height: 24px;
}
.menu-open-icon8,
.notifications-none-icon7 {
  position: absolute;
  top: 33px;
  left: 1357px;
  width: 48px;
  height: 47px;
  overflow: hidden;
}
.menu-open-icon8 {
  top: 34px;
  left: 60px;
  border-radius: var(--br-mini);
  width: 53px;
  height: 49px;
}
.letter-s {
  width: 100%;
  position: relative;
  background: linear-gradient(180deg, #0c0101, #350e4b 99.99%, #902cf4);
  height: 1024px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-11xl);
  color: var(--white);
  font-family: var(--font-poppins);
}
